.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container-divider {
  display: flex;
  align-items: center; /* Centra verticalmente el contenido en el contenedor */
  justify-content: center;
  height: 40vh; /* Prueba con una altura fija para ver si eso soluciona el problema */
}

.vertical-line {
  border: none; /* Elimina el borde predeterminado del <hr> */
  border-left: 2px solid black; /* Crea una línea vertical con el grosor y color deseado */
  height: 100%; /* Ajusta la altura para que ocupe el espacio disponible */
  width: 0; /* Ancho de 0 para que solo se muestre la línea vertical */
  margin: 0; /* Elimina márgenes para que se ajuste correctamente */
}